section.contact 
    h2.contact_title Contact Us
    p.contact_descr Most calendars are designed for teams. Slate is designed for freelancers
    .contact_content
        .contact-left_container 
            h3.contact-left_container__title Contact Us 
            input.contact-left_container__input(type="text" placeholder="Your Name")
            input.contact-left_container__input(type="email" placeholder="Your Email")
            input.contact-left_container__input(type="text" placeholder="Your Message")
            a.header-content_btn.contact-left_container__btn(href="") Send
        .contact-right_container
            .contact-right_container__items 
                .contact-right_item 
                    i.far.fa-map-marker-alt.contact-right_container__icon
                    p.contact-right_container__descr 6386 Spring St undefined Anchorage, Georgia 12473 United States
                .contact-right_item 
                    i.fas.fa-mobile-alt.contact-right_container__icon 
                    p.contact-right_container__descr (843) 555-0130
                .contact-right_item 
                    i.far.fa-envelope.contact-right_container__icon
                    p.contact-right_container__descr willie.jennings@example.com
            iframe.contact-right_container__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.012955820133!2d69.19794851572432!3d41.26505381153231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a1b0c46af65%3A0x82d1d0a1630a1413!2zUFJPV0VCLiDQptC10L3RgtGAINGB0L7QstGA0LXQvNC10L3QvdGL0YUg0L_RgNC-0YTQtdGB0YHQuNC5!5e0!3m2!1sru!2s!4v1615562700869!5m2!1sru!2s") 
            .contact-right_container__icons
                a(href="https://twitter.com/?lang=ru")
                    i.fab.fa-twitter.contact-right_container__icons___icon
                a(href="https://www.facebook.com/")
                    i.fab.fa-facebook-square.contact-right_container__icons___icon
                a(href="https://ru.linkedin.com/")
                    i.fab.fa-linkedin.contact-right_container__icons___icon
        