section.fastest
    .fastest-left-content
        h2.fastest-left-content_title Fastest way to organize
        p.fastest-left-content_descr Most calendars are designed for teams. Slate is designed for freelancers
        a.fastest-left-content_btn(href="")  Try For Free
    img(src="./images/laptop.webp", alt="")