footer.footer     
    .footer-content     
        ul.footer-content-ul
            h4.footer-content-ul_title Pages
            a.footer-content-ul_li(href="") Home  
            a.footer-content-ul_li(href="") Product  
            a.footer-content-ul_li(href="") Pricing  
            a.footer-content-ul_li(href="") About  
            a.footer-content-ul_li(href="") Contact 
        ul.footer-content-ul
            h4.footer-content-ul_title Tomothy
            a.footer-content-ul_li(href="") Eleanor Edwards  
            a.footer-content-ul_li(href="") Ted Robertson  
            a.footer-content-ul_li(href="") Annette Russell  
            a.footer-content-ul_li(href="") Jennie Mckinney  
            a.footer-content-ul_li(href="") Gloria Richards 
        ul.footer-content-ul
            h4.footer-content-ul_title Jane Black
            a.footer-content-ul_li(href="") Philip Jones  
            a.footer-content-ul_li(href="") Product  
            a.footer-content-ul_li(href="") Colleen Russell  
            a.footer-content-ul_li(href="") Marvin Hawkins  
            a.footer-content-ul_li(href="") Bruce Simmmons 
        ul.footer-content-ul
            i.far.fa-map-marker-alt.footer-content-ul_icon 
                a.footer-content-ul_icon__span(href="https://proweb.uz/")  7480 Mockingbird Hill undefined
            i.fas.fa-mobile-alt.footer-content-ul_icon
                a.footer-content-ul_icon__span(href="tel: (239) 555-0108")  (239) 555-0108
            .footer-content-ul_icons
                a(href="https://twitter.com/?lang=ru")
                    i.fab.fa-twitter.footer-content-ul_icons__icon
                a(href="https://www.facebook.com/")
                    i.fab.fa-facebook-square.footer-content-ul_icons__icon
                a(href="https://ru.linkedin.com/")
                    i.fab.fa-linkedin.footer-content-ul_icons__icon