header.header
    nav.header__nav
        ul.header__nav-list
            a(href="") 
                li.header__nav-list__link Home
            a(href="") 
                li.header__nav-list__link Product
            a(href="") 
                li.header__nav-list__link Pricing
            a(href="") 
                li.header__nav-list__link About
            a(href="") 
                li.header__nav-list__link Contact
            a(href="https://twitter.com/?lang=ru")
                i.fab.fa-twitter.header__nav__icon1
            a(href="https://www.facebook.com/")
                i.fab.fa-facebook-square.header__nav__icon2
            a(href="https://ru.linkedin.com/")
                i.fab.fa-linkedin.header__nav__icon3
        a.header__nav-logo(href="#")
            img(src="./images/header-logo.webp", alt="")
        .header__nav_icons
            a(href="https://twitter.com/?lang=ru")
                i.fab.fa-twitter.header__nav__icon
            a(href="https://www.facebook.com/")
                i.fab.fa-facebook-square.header__nav__icon
            a(href="https://ru.linkedin.com/")
                i.fab.fa-linkedin.header__nav__icon
        i.fas.fa-bars.header__nav_burger        
    section.header-content
        h1.header-content_title The best products start with Figma
        p.header-content_descr Most calendars are designed for teams. Slate is designed for freelancers
        a.header-content_btn(href="#") Try For Free                 
                