section.partners
    h2.partners__title Partners 
    p.partners__descr Most calendars are designed for teams. Slate is designed for freelancers
    .partners-container 
        a.partners-container_item(href="")
            img(src="./images/partner (1).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (2).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (3).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (4).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (5).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (6).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (7).webp", alt="") 
        a.partners-container_item(href="")
            img(src="./images/partner (8).webp", alt="") 
    a.fastest-left-content_btn.partners-container_btn(href="")  Try For Free