section.pricing
    .pricing-content
        h2.pricing_title Pricing 
        p.pricing_descr Most calendars are designed for teams. Slate is designed for freelancers
        .pricing-cards
            .card
                h3.card_title FREE 
                p.card_descr Organize across all  apps by hand
                p.card_price 0
                    span.card_price__span
                        span.card_price__span-1 $
                        span.card_price__span-2 Per Month
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                a.fastest-left-content_btn.pricing-cards_btn(href="") Order Now
            .card
                h3.card_title STANDARD 
                p.card_descr Organize across all apps by hand
                p.card_price 10
                    span.card_price__span
                        span.card_price__span-1 $
                        span.card_price__span-2 Per Month
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                a.fastest-left-content_btn.pricing-cards_btn(href="") Order Now
            .card
                h3.card_title BUSINESS
                p.card_descr Organize across all apps by hand
                p.card_price 99
                    span.card_price__span
                        span.card_price__span-1 $
                        span.card_price__span-2 Per Month
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                p.card_features__descr Pricing Feature
                a.fastest-left-content_btn.pricing-cards_btn(href="") Order Now
        