section.subscribe 
    .subscribe-right-block
        h3.subscribe-right-block_title At your fingertips
        p.subscribe-right-block_descr_1 Lightning fast prototyping
        p.subscribe-right-block_descr_2 Subscribe to our Newsletter
        p.subscribe-right-block_descr_3 Available exclusivery on Figmaland
        form.subscribe-right-block_form(action="")
            input.subscribe-right-block_form__input(type="email", name="", placeholder="Your Email")
            a.subscribe-right-block_form__btn(href="") Subscribe
    img.subscribe__img(src="./images/subscribe-img.webp", alt="")