section.testimonials 
    h2.testimonials__title Testimonials
    img.testimonials__img(src="./images/testimonials.webp", alt="")
    p.testimonials__descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    .testimonials_card 
        img.testimonials_card__img(src="./images/testimonials_card_img.webp", alt="")
        p.testimonials_card__title Organize across. 
            span Ui Designer
    a.fastest-left-content_btn.testimonials__btn(href="") More Testimonials 