header
    include components/header.pug
main 
    include components/features.pug
    include components/fastest.pug
    include components/subscribe.pug
    include components/partners.pug
    include components/testimonials.pug
    include components/pricing.pug
    include components/contact.pug
include components/footer.pug
    